@font-face {
    font-family: 'Futura Bold';
    src: url('../fonts/Futura Bold font.ttf') format('truetype');
}


body {
    font-family: 'Futura Bold', sans-serif;
}

#sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
}

#title {
    font-size: 1.5em;
    padding: 20px;
}

nav a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #444;
}

#main-content {
    margin-left: 200px;
}

header {
    background-color: #ddd;
    padding: 20px;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
#leagues-container {
    margin-top: 20px;
}

.league {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}
.league:hover{
    background-color: #cccccc;
    cursor: pointer;
}

.league-name {
    font-size: 1.2em;
    font-weight: bold;
}

.league-teams-count {
    font-size: 0.8em;
}
#league-table {
    width: 100%;
    margin: 0 auto;
    margin-top: auto;
    text-align: center;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
